<% layout("/layout/boilerplat.ejs") %>

<style>


    .alert{
        height: 5rem;
        width: 30rem;
        text-align: center;
        margin:3rem 0 0 20rem;
    }

</style>
<body>
    <div class="alert alert-danger" role="alert">
      <%= message %>
      </div>
</body>
