<body>
  <nav class="h-26 w-100"  >
<div class="flex justify-between" >
  
  <div class="flex h-24 w-65 "  >
  <div class="airbnb h-24 w-41 ml-3 "> <a href="/listings"> <img  src="/image/airbnblogo.png" alt=""></a>
</div>
<div class=" aman mt-[33px] pt-1 h-10 w-20 ml-2 font-sans font-semibold rounded-3xl text-xl hover:bg-zinc-300 text-center"> <a href="/listings"> home</a></div>
</div>

  <div>
<div  id="searchicon" class="shadow-md hover:shadow-lg searchbar h-13 w-99 bg-white mt-4 rounded-4xl flex justify-around "> 
   <img class="h-13 w-14 pb-[3px] " src="/image/airbnbhome.avif" alt="">
  <p class="mt-2" >Anywhere </p>
  <span class="h-8 w-[1px] bg-stone-500 mt-2"></span>
  <p class="mt-2" >Anytime </p>
  <span class="h-8 w-[1px] bg-stone-900 mt-2"></span>
  <p class="mt-2">Add guests </p>
  <div class="h-10 w-10 rounded-4xl bg-red-400 text-center mt-[1px] " > <i class=" mt-[11px] text-lg text-white fa-solid fa-magnifying-glass"></i> </div>
</div>
<div id="searchgagan" class=" opacity-0 scale-95 transition-all duration-300 ease-in-out absolute z-10 hidden flex w-108 h-13  rounded-4xl">
  <form method="post" action="/listings/search" role="search">
      <div class="flex h-20 w-120 -ml-4 ">
      <input name="search"  class="h-15 outline-red-200 w-99 rounded-4xl mt-2 pl-3 hover:shadow-lg shadow-md  " type="search" placeholder=" Search By City">
      <div class="h-13 w-13 rounded-4xl bg-red-400 text-center mt-[14px] ml-2 " ><button> <i class=" mt-[14px] text-2xl text-white fa-solid fa-magnifying-glass"></i></button> </div>
  </div>
  </form>
</div> 
</div>

<div class="flex justify-around bg-white h-20 w-74 mt-1 mr-6 ">
 <p class=" aman mt-4 pt-1 h-10 w-40  font-sans font-semibold rounded-3xl text-lg hover:bg-zinc-300 text-center"><a href="/listings/new">Add New Listing</a></p>
  <div class=" aman h-10 w-10 rounded-4xl bg-zinc-200 mt-4 text-center hover:bg-zinc-300 "><a href="/listing/soon"> <i class=" mt-[11px] fa-solid fa-globe"></i></a></div>
  <div id="3line" class=" h-10 w-10 rounded-4xl bg-zinc-200 mt-4 text-center hover:bg-zinc-300 "><i  class=" mt-[11px] fa-solid fa-bars"></i></div>
</div>
</div>
<div id="page" class="text-zinc-300 h-36 w-30 border-1 rounded-2xl float-right text-center mr-4 hidden " >
  <div class="h-12 hover:text-xl border-b-1 gagan font-semibold text-lg pt-2 no-underline "> <a href="/signup/login"> Login</a></div> 
  <div class="h-12 hover:text-xl border-b-1 gagan font-semibold text-lg pt-1 " > <a href="/signup/logout"> Logout</a></div> 
  <div class="h-12 hover:text-xl gagan font-semibold text-lg"> <a href="/signup"> Signup</a></div> 
</div>
</nav>

</div>
</body>
<script src="app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>